# Google Analytics
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Site Configuration
VITE_SITE_URL=https://flaranoherrera.github.io/mi-portfolio/
VITE_SITE_NAME=Francisco Arano - Portfolio
VITE_SITE_DESCRIPTION=Desarrollador Fullstack especializado en NestJS, React y TypeScript

# Contact Information
VITE_CONTACT_EMAIL=aranoherrera92@gmail.com
VITE_LINKEDIN_URL=https://www.linkedin.com/in/francisco-leonardo-arano-herrera-540198169
VITE_GITHUB_URL=https://github.com/FLAranoHerrera
